@font-face {
    font-family: 'Open Sans';
    src: url('../../../../../assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

$white: #ffffff;
$dark: #000000;
$blue: #3982d3;
$gray: #f3f4f6;
$font-title-color: rgb(75, 85, 99);
$warning: #fdb900;
$danger: #f60000;
$green:
#009f7f ;

.btn-theme-1 {
    background-color: $blue;
    color: $white;
    border: none;
    max-width: 250px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
    }
}

.font-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.font-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.font-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $font-title-color;
}

.font-table-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $dark;
}

.text-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
}
.text-note {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.blue-text-font {
    color: $blue;
}
.text-center {
    text-align: center;
}

.block-text {
    display: block;
}
.dashed-line {
    border-top: 1px dashed $font-title-color;
    margin: 0 30px;
    color: $font-title-color;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $dark;
}

a.no-underline,
a.button-theme,
a.button-theme2 {
    text-decoration: none;
}

a.detail-btn {
    color: $font-title-color;
    &:hover {
        color: $blue;
    }
}
.shawdow-text {
    color: rgb(107, 114, 128);
}
.single-line-text {
    white-space: nowrap;
  }
.btn-blue {
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    color: $white;
    background-color: $blue;
    border-radius: 3px;
    place-content: center;
    border: none;

    &:hover {
        border: 1px solid $blue;
        background-color: transparent;
        color: $blue;
    }
}

.dark {
    color: $dark;
}
.btn-white {
    background-color: $gray;
    color: $dark;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid $dark;
    text-decoration: none;

    &:hover {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white ;
    }
}

.warning-layout{
    color: $white;
    background-color: $warning;
    border-radius: 20px;
    padding-top: px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
} 

.blue-layout{
    color: $white;
    background-color: $blue;
    border-radius: 20px;
    padding-top: px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
} 

.gray-layout{
    color: $white;
    background-color: $font-title-color;
    border-radius: 20px;
    padding-top: px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
} 

.add-btn-theme {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    color: $white;
    background-color: $blue;
    border-radius: 3px;
    place-content: center;
    border: none;

    &:hover {
        border: 1px solid $blue;
        background-color: transparent;
        color: $blue;
    }
}

.container {
    max-width: 1600px !important;
    margin: 0 auto;
    display: flex;
    position: relative;
    caret-color: transparent;
    top: 70px;
}

.auth-container {
    max-width: 1600px !important;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    width: 100%;
}

.mt-200 {
    margin-top: 200px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.pt-pb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}
