@media (max-width: 768px) {
    $white: #ffffff;
    $dark: #000000;
    $blue: #3982d3;
    $gray: #f3f4f6;
    $gray-text: #4f5967;

    .header {

        .main-logo {
            margin-left: 100px;
            max-width: 25px;
            max-height: 25px;
            position: absolute;
            display: flex;
            margin-top: 10px;
        }

        .menu {
            ul {
                li {
                    margin: 0 30px;
                    display: inline-block;

                }

                li:last-child {
                    margin-right: 0;
                }

                .account {
                    display: none;
                }

                .mobile-menu {
                    display: flex;
                    flex-direction: column;
                    max-width: 768px;

                    .mobile-menu-icon {
                        display: flex;
                        margin-left: 400px;
                        margin-right: 100px;
                        
                    }

                    .menu-title-list {
                        position: relative;
                        .hide {
                            display: none;
                        }

                        .show {
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            width: 100vw;
                            height: 100vh;
                            overflow-y: auto;

                            .menu-item {
                                margin-top: 10px;
                                display: flex;
                                justify-content: flex-start;
                                padding-bottom: 10px;

                                &:hover {
                                    background-color: #f3f4f6;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .container {
        .sidebar {
            display: none;
        }

        .content {
            position: relative;
            width: calc(100% - 300px);
            flex-grow: 2;
            top: 15px;
            background-color: #f8f8f8;

            .page-title {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 600px;
                height: 100px;
                background-color: $white;
                border: 1px;
                border-radius: 5px;
                margin: 50px auto 20px auto;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                .title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-grow: 1;
                    margin-left: 20px;
                }


                .search {
                    display: flex;
                    flex-grow: 2;
                    margin: 0 20px;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    border: 2px solid $gray;
                    border-radius: 5px;

                    &:focus {
                        outline: 0;
                        border: 2px solid $blue;
                    }
                }

                #outlined-select-currency-native {
                    display: none;
                }

                .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
                    display: none;
                }


                .filter {
                    display: none;
                }

                .add-btn {
                    display: none;

                }
            }

            .data-table {
                width: 95%;
                background-color: $white;
                border: 1px;
                border-radius: 10px;
                margin: 20px auto;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            }

            .pagination {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: end;
                justify-content: center;
                position: relative;
                right: 30px;

                .paginate {
                    color: $blue;
                }
            }

            .add-title {
                margin: 50px 30px;
            }

            form {
                display: block;

                .image-upload {
                    display: flex;
                    justify-content: space-between;

                    .upload-title {
                        display: block;
                        margin: 50px 30px;

                        .title {
                            margin-bottom: 10px;
                        }

                        .description {
                            width: 300px;
                            overflow-wrap: break-word;
                        }
                    }

                    .upload-input {
                        flex-grow: 1;
                        background-color: $white;
                        margin: 50px 30px 50px 30px;
                        border: 1px;
                        border-radius: 10px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        display: block;
                        text-align: center;

                        &:hover {
                            background-color: #c3e1f0;
                        }


                        .upload-icon {
                            width: 200px;
                            height: 200px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .descriptions {
                            position: relative;
                            bottom: 50px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 30px;

                            .upload-image-title::before {
                                content: "\00a0";
                            }
                        }

                        .image-category {
                            display: none;
                        }

                        .images-show {
                            width: 200px;
                            position: relative;
                            bottom: 50px;
                            display: flex;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }

                }

                .cate-info-upload {
                    display: flex;
                    justify-content: space-between;

                    .upload-title {
                        display: block;
                        margin: 50px 30px;
                        align-items: center;

                        .title {
                            margin-bottom: 10px;
                        }

                        .description {
                            width: 300px;
                            overflow-wrap: break-word;
                        }
                    }

                    .upload-input {
                        flex-grow: 1;
                        background-color: $white;
                        margin: 50px 30px 50px 30px;
                        border: 1px;
                        border-radius: 10px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        justify-content: center;
                        align-items: center;

                        .text-field {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .remove-value {
                                color: red;
                                display: flex;
                                margin-right: 10px;
                                caret-color: transparent;
                                border: none;
                                background-color: $white;
                            }

                            .field-1 {
                                margin-left: 0;
                                margin-bottom: 30px;

                                .active-form {
                                    margin-left: 0;
                                    margin-right: 30px;
                                }

                                .will-expire {
                                    margin-left: 0;
                                }
                            }
                        }

                        .input-data {
                            margin-top: 20px;
                            margin-bottom: 20px;
                            margin-right: 20px;
                            margin-left: 20px;
                            width: calc(100% - 40px);
                            height: 50px !important;
                        }

                        .status {
                            display: block;
                            margin-left: 30px;
                            margin-bottom: 30px;
                        }

                        .attribute {
                            display: block;
                            margin-left: 30px;
                            margin-top: 30px;
                            margin-bottom: 30px;

                            .title {
                                margin-right: 30px;
                            }

                        }

                        .value {
                            margin-top: 10px;
                            margin-left: 30px;
                            margin-bottom: 10px;

                            .selected-value {
                                margin-top: 10px;
                            }

                            .icon {
                                color: red;
                            }
                        }

                        .add-value {
                            background-color: $blue;
                            color: $white;
                            border: none;
                            width: 150px;
                            height: 50px;
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 30px;
                            margin-bottom: 30px;
                            margin-top: 30px;
                            caret-color: transparent;
                        }

                        .random-code {
                            position: absolute;
                            z-index: 2;
                            right: 50px;
                            display: flex;
                            border: 1px solid $dark;
                            border-radius: 3px;
                            margin-right: 30px;
                        }

                        .show-more-button {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                    }
                }

                .submit-btn {
                    display: flex;
                    margin-bottom: 50px;
                    justify-content: flex-end;
                    margin-right: 30px;

                    .btn-white {
                        background-color: $gray;
                        color: $dark;
                        border: none;
                        width: 150px;
                        height: 50px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        border: 1px solid $dark;
                        text-decoration: none;

                        &:hover {
                            background-color: $blue;
                            border: 1px solid $blue;
                            color: $white ;
                        }
                    }

                    button {
                        background-color: $blue;
                        color: $white;
                        border: none;
                        max-width: 250px;
                        height: 50px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}