@font-face {
    font-family: 'Open Sans';
    src: url('../../../../../assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

$white: #ffffff;
$dark: #000000;
$blue: #3982d3;
$gray: #f3f4f6;
$font-title-color: rgb(75, 85, 99);
$warning: #fdb900;
$danger: #f60000;
$green:
#009f7f ;

.btn-theme-1 {
    background-color: $blue;
    color: $white;
    border: none;
    max-width: 250px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
    }
}

.font-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.font-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.font-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $font-title-color;
}

.font-table-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $dark;
}

.text-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
}
.text-note {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.blue-text-font {
    color: $blue;
}
.text-center {
    text-align: center;
}

.block-text {
    display: block;
}
.dashed-line {
    border-top: 1px dashed $font-title-color;
    margin: 0 30px;
    color: $font-title-color;
}

.color-blue {
    color: $blue;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $dark;
}

a.no-underline,
a.button-theme,
a.button-theme2 {
    text-decoration: none;
}

a.detail-btn {
    color: $font-title-color;
    &:hover {
        color: $blue;
    }
}
.shawdow-text {
    color: rgb(107, 114, 128);
}
.single-line-text {
    white-space: nowrap;
  }
.btn-blue {
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    color: $white;
    background-color: $blue;
    border-radius: 3px;
    place-content: center;
    border: none;

    &:hover {
        border: 1px solid $blue;
        background-color: transparent;
        color: $blue;
    }
}

.dark {
    color: $dark;
}
.btn-white {
    background-color: $gray;
    color: $dark;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid $dark;
    text-decoration: none;

    &:hover {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white ;
    }
}

.warning-layout{
    color: $white;
    background-color: $warning;
    border-radius: 20px;
    padding-top: px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
} 

.blue-layout{
    color: $white;
    background-color: $blue;
    border-radius: 20px;
    padding-top: px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
} 

.gray-layout{
    color: $white;
    background-color: $font-title-color;
    border-radius: 20px;
    padding-top: px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
} 

.add-btn-theme {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    color: $white;
    background-color: $blue;
    border-radius: 3px;
    place-content: center;
    border: none;

    &:hover {
        border: 1px solid $blue;
        background-color: transparent;
        color: $blue;
    }
}

.container {
    max-width: 1600px !important;
    margin: 0 auto;
    display: flex;
    position: relative;
    caret-color: transparent;
    top: 70px;
}

.auth-container {
    max-width: 1600px !important;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    width: 100%;
}

.mt-200 {
    margin-top: 200px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.pt-pb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}


   body {
       font-family: "Open Sans", serif;
   }

   .header {
       display: flex;
       position: fixed;
       z-index: 3;
       width: 100%;
       justify-content: space-between;
       padding: 10px 30px;
       background-color: $white;
       box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

       .main-logo {
           max-width: 50px;
       }

       .menu {
           margin-right: 100px;

           ul {
               li {
                   margin: 0 30px;
                   display: inline-block;

                   .account-icon {
                       width: 30px;
                       height: 30px;
                   }

               }

               li:last-child {
                   margin-right: 0;
               }

               .mobile-menu {
                   display: none;
               }

           }
       }
   }

   .container {

       .sidebar {
           width: 300px;
           box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
           position: relative;
           z-index: 2;
           background-color: $white !important;
           overflow: hidden;

           .menu {
               position: fixed;
               width: 250px;
               height: auto;
               top: 100px;
               bottom: 0;
               overflow-y: auto;
               padding-right: 10px;
               background-color: $white !important;

               .menu-item {
                   display: flex;
                   align-items: center;
                   margin-bottom: 10px;

                   .menu-icon {
                       margin-right: 10px;
                   }

                   .menu-title {
                       margin-left: 20px;
                   }

               }

           }
       }

       .content {
           position: relative;
           width: calc(100% - 300px);
           height: 100%;
           flex-grow: 2;
           top: 15px;
           background-color: #f8f8f8;

           .page-title {
               display: flex;
               justify-content: center;
               align-items: center;
               max-width: 95%;
               height: 100px;
               background-color: $white;
               border: 1px;
               border-radius: 5px;
               margin: 50px auto 20px auto;
               box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

               .title {
                   display: flex;
                   justify-content: flex-start;
                   align-items: center;
                   flex-grow: 1;
                   margin-left: 20px;
                   width: 200px;
               }

               .search-btn {
                   position: absolute;
                   margin-left: 100px;

               }

               .search {
                   display: flex;
                   flex-grow: 2;
                   margin: 0 20px;
                   justify-content: center;
                   align-items: center;
                   height: 50px;
                   border: 2px solid $gray;
                   border-radius: 5px;

                   &:focus {
                       outline: 0;
                       border: 2px solid $blue;
                   }
               }

               #outlined-select-currency-native {
                   height: 20px;
                   border: 1px solid $gray;
                   border-radius: 5px;
               }


               .filter {
                   display: flex;
                   flex-grow: 1;
                   margin-right: 10px;
                   border: none;
                   color: $blue;
                   background-color: $white;
               }

               .add-btn {
                   margin-left: 20px;
                   flex-grow: 1;
                   margin-right: 20px;

               }
           }

           .data-table {
               width: 95%;
               background-color: $white;
               margin: 20px auto;
               box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

               .table {
                   width: 100%;
                   border-collapse: collapse;


                   th,
                   td {
                       padding: 8px;
                       border-top: 1px solid #ccc;
                   }

                   .customer-review {
                       .customer-review-name {
                           display: flex;
                           place-items: center;

                           p::before {
                            content: "\00a0";
                        }
                       }

                       .review-comment {
                        display: flex;
                        width: 200px;
                       }

                       .review-action {
                        display: flex;
                        justify-content:space-evenly;
                        place-items: center;
                        margin-top: 10px;
                        .action {      
                            margin-right: 50px;
                            display: flex;
                            place-items: center;

                            .like-icon {
                                margin-right: 10px;
                            }
                        }
                       }
                   }

                   .rating {
                       display: flex;
                       padding-top: 50px;
                       place-items: center;

                       span {
                           width: 100px;
                           height: 30px;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           border: 2px solid $blue;
                           border-radius: 50%;
                           color: $blue;
                       }
                   }

                   .action {

                       .edit-btn {
                           color: $font-title-color;

                           &:hover {
                               color: $warning;
                           }
                       }

                       .delete-btn {
                           color: $font-title-color;

                           &:hover {
                               color: $danger;
                           }
                       }

                       .detail-btn {
                           color: $font-title-color;

                           &:hover {
                               color: $blue;
                           }
                       }
                   }

                   thead {
                       background-color: #f2f2f2;
                   }

                   tbody tr:nth-child(even) {
                       background-color: $white;
                   }
               }

               .title {
                   display: flex;
                   justify-content: space-between;
                   background-color: $gray;
                   height: 60px;

                   .title-content {
                       margin: 0 30px;

                       span {
                           display: flex;
                           align-items: center;

                           p {
                               margin-left: 30px;
                               padding: 5px 30px 5px 30px;
                           }
                       }
                   }

               }

               .order-content {
                   background-color: $white;
                   margin: 30px 30px 50px 30px;
                   width: calc(100% - 50px);

                   .ribbon {
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                       margin-bottom: 50px;

                       .order-id {
                           flex-grow: 2;

                           span {
                               display: flex;
                               align-items: center;
                           }
                       }

                       .order-status-change {
                           flex-grow: 1;
                           display: flex;

                           .order-status-select {
                               width: 250px;
                               margin-right: 30px;
                               border: 1px solid $blue;
                               flex-grow: 1;
                           }

                           .change-status-btn {
                               flex-grow: 1;
                           }
                       }
                   }

                   .order-status {
                       display: flex;
                       margin: 50px 30px;

                       .order-status-step {
                           flex-grow: 1;

                           .order-status-icon {
                               display: flex;
                               flex-direction: column;
                               align-items: center;
                               justify-content: center;

                               .icon {
                                   display: flex;
                                   place-content: center;
                                   place-items: center;
                                   width: 50px;
                                   height: 50px;
                                   position: absolute;
                                   color: $blue;
                               }

                               span {
                                   color: $blue;
                                   display: flex;
                                   place-content: center;
                                   place-items: center;
                                   width: 50px;
                                   height: 50px;
                                   border: 1px dashed $blue;
                                   border-radius: 50%;
                               }
                           }

                           .status-step-name {
                               display: flex;
                               place-content: center;
                               place-items: center;
                               color: $blue;
                           }
                       }
                   }

                   .total-detail {
                       width: 250px;
                       display: flex;
                       flex-direction: column;
                       position: relative;
                       margin-left: 600px;

                       .detail-info {
                           display: flex;
                           justify-content: space-between;
                           margin-top: 10px;
                           margin-bottom: 10px;
                       }
                   }

                   .delivery-info {
                       display: flex;
                       flex-direction: column;

                       .delivery-info-title {
                           display: flex;
                           justify-content: space-between;
                           border-bottom: 1px solid $gray;
                           padding-bottom: 10px;
                       }

                       .delivery-info-content {
                           margin-top: 30px;
                           display: flex;
                           justify-content: space-between;
                           padding-bottom: 30px;

                           .billing-address-content {
                               flex-grow: 1;
                               display: flex;
                               flex-direction: column;
                               justify-content: flex-start;
                               margin-right: 50px;
                           }

                           .shipping-address-content {
                               flex-grow: 1;
                               display: flex;
                               flex-direction: column;
                               justify-content: flex-end;
                               direction: rtl;
                           }
                       }
                   }
               }
           }

           .pagination {
               width: 100%;
               height: 50px;
               display: flex;
               align-items: end;
               justify-content: center;
               position: relative;
               right: 30px;

               .paginate {
                   color: $blue;
               }
           }

           .add-title {
               margin: 50px 30px;
           }

           form {
               display: block;

               .image-upload {
                   display: flex;
                   justify-content: space-between;

                   .upload-title {
                       display: block;
                       margin: 50px 30px;

                       .title {
                           margin-bottom: 10px;
                       }

                       .description {
                           width: 300px;
                           overflow-wrap: break-word;
                       }
                   }

                   .upload-input {
                       flex-grow: 1;
                       background-color: $white;
                       margin: 50px 30px 50px 30px;
                       border: 1px;
                       border-radius: 10px;
                       box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                       display: block;
                       text-align: center;

                       &:hover {
                           background-color: #c3e1f0;
                       }


                       .upload-icon {
                           width: 200px;
                           height: 200px;
                           margin-left: auto;
                           margin-right: auto;
                       }

                       .descriptions {
                           position: relative;
                           bottom: 50px;
                           margin-left: auto;
                           margin-right: auto;
                           margin-bottom: 30px;

                           .upload-image-title::before {
                               content: "\00a0";
                           }
                       }

                       .image-category {
                           display: none;
                           border: none !important;
                       }

                       .feature-logo {
                           display: flex;
                           margin: 0 auto;
                           width: 200px;
                       }

                       .images-show {
                           position: relative;
                           bottom: 50px;
                           display: flex;
                           margin: 0 auto;

                           img {
                               width: 50px;
                               flex-grow: 1;
                               margin: 10px;
                           }
                       }
                   }

               }

               .cate-info-upload {
                   display: flex;
                   justify-content: space-between;

                   .upload-title {
                       display: block;
                       margin: 50px 30px;
                       align-items: center;

                       .title {
                           margin-bottom: 10px;
                       }

                       .description {
                           width: 300px;
                           overflow-wrap: break-word;
                       }
                   }

                   .upload-input {
                       flex-grow: 1;
                       background-color: $white;
                       margin: 50px 30px 50px 30px;
                       border: 1px;
                       border-radius: 10px;
                       box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                       justify-content: center;
                       align-items: center;

                       .text-field {
                           display: flex;
                           justify-content: center;
                           align-items: center;

                           .remove-value {
                               color: red;
                               display: flex;
                               margin-right: 10px;
                               caret-color: transparent;
                               border: none;
                               background-color: $white;
                           }

                           .field-1 {
                               margin-left: 0;
                               margin-bottom: 30px;

                               .active-form {
                                   margin-left: 0;
                                   margin-right: 30px;
                               }

                               .will-expire {
                                   margin-left: 0;
                               }
                           }
                       }

                       .input-data {
                           margin-top: 20px;
                           margin-bottom: 20px;
                           margin-right: 20px;
                           margin-left: 20px;
                           width: calc(100% - 40px);
                           height: 50px !important;
                           padding: auto 10px auto auto;
                       }

                       .status {
                           display: block;
                           margin-left: 30px;
                           margin-bottom: 30px;
                       }

                       .attribute {
                           display: block;
                           margin-left: 30px;
                           margin-top: 30px;
                           margin-bottom: 30px;

                           .title {
                               margin-right: 30px;
                           }

                       }

                       .value {
                           margin-top: 10px;
                           margin-left: 30px;
                           margin-bottom: 10px;

                           .selected-value {
                               margin-top: 10px;
                           }

                           .icon {
                               color: red;
                           }
                       }

                       .add-value {
                           margin-left: 30px;
                           margin-bottom: 30px;
                           margin-top: 30px;
                           caret-color: transparent;
                       }

                       .random-code {
                           position: absolute;
                           z-index: 2;
                           right: 50px;
                           display: flex;
                           border: 1px solid $dark;
                           border-radius: 3px;
                           margin-right: 30px;
                       }

                       .show-more-button {
                           width: 100%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           margin-top: 20px;
                           margin-bottom: 20px;
                       }
                   }
               }

               .submit-btn {
                   display: flex;
                   margin-bottom: 50px;
                   justify-content: flex-end;
                   margin-right: 30px;
               }
           }

           .sales-metrics {
               display: flex;
               justify-content: center;
               align-items: center;
               width: calc(100% - 25px);
               height: 100px;
               margin-top: 100px;
               margin-bottom: 100px;

               .sales-metric {
                   display: flex;
                   justify-content: space-between;
                   padding-left: 10px;
                   padding-right: 10px;
                   width: 50%;
                   height: 200px;
                   background-color: $white;
                   border: 1px;
                   border-radius: 5px;
                   margin: 50px 10px 50px 30px;
                   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                   .metric-text {
                       .metric-title {
                           margin: 10px;
                       }

                       .metric-note {
                           margin-left: 10px;
                           margin-bottom: 100px;
                       }

                       .metric-price {
                           margin-left: 10px;
                       }
                   }

                   .metric-icon {
                       margin-top: 10px;
                       margin-right: 10px;
                       padding: 10px;

                       .dashboard-icon {
                           width: 50px;
                           height: 50px;
                       }
                   }

                   .price-icon {
                       width: 50px;
                       height: 50px;
                       color: $warning;
                       background-color: #f4e493;
                       border-radius: 50%;
                   }

                   .cart-icon {
                       width: 50px;
                       height: 50px;
                       background-color: #bbe0fc;
                       border-radius: 50%;
                       color: $blue;
                   }

                   .today-price-icon {
                       width: 50px;
                       height: 50px;
                       background-color: #fcbdbb;
                       border-radius: 50%;
                       color: $danger;
                   }

                   .customers-icon {
                       width: 50px;
                       height: 50px;
                       background-color: #bbfcda;
                       border-radius: 50%;
                       color: $green;
                   }
               }
           }

           .history-sale-chart {
               margin-left: 30px;
               margin-right: 30px;
               border-radius: 10px;
               box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
               margin-bottom: 100px;
           }
       }
   }

   @media (max-width: 768px) {
    $white: #ffffff;
    $dark: #000000;
    $blue: #3982d3;
    $gray: #f3f4f6;
    $gray-text: #4f5967;

    .header {

        .main-logo {
            margin-left: 100px;
            max-width: 25px;
            max-height: 25px;
            position: absolute;
            display: flex;
            margin-top: 10px;
        }

        .menu {
            ul {
                li {
                    margin: 0 30px;
                    display: inline-block;

                }

                li:last-child {
                    margin-right: 0;
                }

                .account {
                    display: none;
                }

                .mobile-menu {
                    display: flex;
                    flex-direction: column;
                    max-width: 768px;

                    .mobile-menu-icon {
                        display: flex;
                        margin-left: 400px;
                        margin-right: 100px;
                        
                    }

                    .menu-title-list {
                        position: relative;
                        .hide {
                            display: none;
                        }

                        .show {
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            width: 100vw;
                            height: 100vh;
                            overflow-y: auto;

                            .menu-item {
                                margin-top: 10px;
                                display: flex;
                                justify-content: flex-start;
                                padding-bottom: 10px;

                                &:hover {
                                    background-color: #f3f4f6;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .container {
        .sidebar {
            display: none;
        }

        .content {
            position: relative;
            width: calc(100% - 300px);
            flex-grow: 2;
            top: 15px;
            background-color: #f8f8f8;

            .page-title {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 600px;
                height: 100px;
                background-color: $white;
                border: 1px;
                border-radius: 5px;
                margin: 50px auto 20px auto;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

                .title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-grow: 1;
                    margin-left: 20px;
                }


                .search {
                    display: flex;
                    flex-grow: 2;
                    margin: 0 20px;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    border: 2px solid $gray;
                    border-radius: 5px;

                    &:focus {
                        outline: 0;
                        border: 2px solid $blue;
                    }
                }

                #outlined-select-currency-native {
                    display: none;
                }

                .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
                    display: none;
                }


                .filter {
                    display: none;
                }

                .add-btn {
                    display: none;

                }
            }

            .data-table {
                width: 95%;
                background-color: $white;
                border: 1px;
                border-radius: 10px;
                margin: 20px auto;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            }

            .pagination {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: end;
                justify-content: center;
                position: relative;
                right: 30px;

                .paginate {
                    color: $blue;
                }
            }

            .add-title {
                margin: 50px 30px;
            }

            form {
                display: block;

                .image-upload {
                    display: flex;
                    justify-content: space-between;

                    .upload-title {
                        display: block;
                        margin: 50px 30px;

                        .title {
                            margin-bottom: 10px;
                        }

                        .description {
                            width: 300px;
                            overflow-wrap: break-word;
                        }
                    }

                    .upload-input {
                        flex-grow: 1;
                        background-color: $white;
                        margin: 50px 30px 50px 30px;
                        border: 1px;
                        border-radius: 10px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        display: block;
                        text-align: center;

                        &:hover {
                            background-color: #c3e1f0;
                        }


                        .upload-icon {
                            width: 200px;
                            height: 200px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .descriptions {
                            position: relative;
                            bottom: 50px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 30px;

                            .upload-image-title::before {
                                content: "\00a0";
                            }
                        }

                        .image-category {
                            display: none;
                        }

                        .images-show {
                            width: 200px;
                            position: relative;
                            bottom: 50px;
                            display: flex;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }

                }

                .cate-info-upload {
                    display: flex;
                    justify-content: space-between;

                    .upload-title {
                        display: block;
                        margin: 50px 30px;
                        align-items: center;

                        .title {
                            margin-bottom: 10px;
                        }

                        .description {
                            width: 300px;
                            overflow-wrap: break-word;
                        }
                    }

                    .upload-input {
                        flex-grow: 1;
                        background-color: $white;
                        margin: 50px 30px 50px 30px;
                        border: 1px;
                        border-radius: 10px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        justify-content: center;
                        align-items: center;

                        .text-field {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .remove-value {
                                color: red;
                                display: flex;
                                margin-right: 10px;
                                caret-color: transparent;
                                border: none;
                                background-color: $white;
                            }

                            .field-1 {
                                margin-left: 0;
                                margin-bottom: 30px;

                                .active-form {
                                    margin-left: 0;
                                    margin-right: 30px;
                                }

                                .will-expire {
                                    margin-left: 0;
                                }
                            }
                        }

                        .input-data {
                            margin-top: 20px;
                            margin-bottom: 20px;
                            margin-right: 20px;
                            margin-left: 20px;
                            width: calc(100% - 40px);
                            height: 50px !important;
                        }

                        .status {
                            display: block;
                            margin-left: 30px;
                            margin-bottom: 30px;
                        }

                        .attribute {
                            display: block;
                            margin-left: 30px;
                            margin-top: 30px;
                            margin-bottom: 30px;

                            .title {
                                margin-right: 30px;
                            }

                        }

                        .value {
                            margin-top: 10px;
                            margin-left: 30px;
                            margin-bottom: 10px;

                            .selected-value {
                                margin-top: 10px;
                            }

                            .icon {
                                color: red;
                            }
                        }

                        .add-value {
                            background-color: $blue;
                            color: $white;
                            border: none;
                            width: 150px;
                            height: 50px;
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 30px;
                            margin-bottom: 30px;
                            margin-top: 30px;
                            caret-color: transparent;
                        }

                        .random-code {
                            position: absolute;
                            z-index: 2;
                            right: 50px;
                            display: flex;
                            border: 1px solid $dark;
                            border-radius: 3px;
                            margin-right: 30px;
                        }

                        .show-more-button {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                    }
                }

                .submit-btn {
                    display: flex;
                    margin-bottom: 50px;
                    justify-content: flex-end;
                    margin-right: 30px;

                    .btn-white {
                        background-color: $gray;
                        color: $dark;
                        border: none;
                        width: 150px;
                        height: 50px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        border: 1px solid $dark;
                        text-decoration: none;

                        &:hover {
                            background-color: $blue;
                            border: 1px solid $blue;
                            color: $white ;
                        }
                    }

                    button {
                        background-color: $blue;
                        color: $white;
                        border: none;
                        max-width: 250px;
                        height: 50px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}